/* DESKTOP VIEW */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
    font-style: solid;
    
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    background-color: rgba(25, 25, 32, 0.89);
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    overflow: hidden;
   
}

/* NAV */
header{
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 30px;
    background-color: rgba(129, 129, 129, );
    padding: 19px 100px;
    margin: 0px;
}
.remoteskills{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    
}
.remote-image{
    width: 30px;
    height: 30px;
    object-position: top;
    color: white;
    position: absolute;
    left: 50px;
    top: 5px;
    
}
.remote-text{
    font-size: 14px;
    text-decoration: solid;
    margin-left: 27px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 20px;
    left: 50px;
    
    
}
.nav-icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 110px;
    
}
.nav-icons-text{
    font-size: 10px;
}
.blogs-and-resources{
    background-color: rgb(52, 223, 166);
    padding: 10px 15px;
    font-size: 9px;
    border-radius: 40px;
    position: absolute;
    right: 60px;
    top: 9px;
    color: rgba(25, 25, 32, 0.925);
    text-decoration: solid;
    font-weight: 600;
    font-size: 10px;
}
.menu{
    display: none;
}

/* BACKGROUND */
.vertical-line-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 80px;
    position: absolute;
    top: 50px;
}
.vertical-line{
    background-color: rgb(36, 35, 35);
    width: 1px;
    height: 500px;
    
}
.background{
    background-color: rgba(19, 19, 26, 0.808);
    height: 500px;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 800px 400px;
    padding-top: 100px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
    box-sizing: border-box;
}

/* TEXTS */
.learn-web-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
    display: inline-block;
    height: 100px;
}
.learn-web-div-texts{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    margin-bottom: 0px;
    padding-bottom: 0px;    

}
.learn-web{
    width: 750px;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 65px;
    
    
}
.learn-web-digital{
    width: 900px;
    font-size: 16px;
    color: rgb(143, 141, 141);
    margin-top: 20px;
    
}
.opportunities{
    width: 700px;
    font-size: 13px;
    color: rgb(143, 141, 141);
    margin-top: 13px;
    
}

/* BUTTON */
.button-div{
    display: grid;
    grid-template-columns: 110px 115px;
    gap: 20px;
    margin-top: 0px;
    padding-top: 0px;
    
}
.explore-course{
    background-color: rgb(52, 223, 166);
    padding: 10px 20px;
    /* width: 110px; */
    height: fit-content;
    font-size: 9.5px;
    border-radius: 40px;
    color: rgba(25, 25, 32, 0.925);
    text-decoration: solid;
    font-weight: 600;
}
.free-resources{
    background-color: rgba(75, 75, 78, 0.664);
    padding: 11px 20px;
    font-size: 10px;
    /* width: 120px; */
    height: fit-content;
    
    border-radius: 40px;
    text-decoration: solid;
    font-weight: 600;
}
/* IMAGE */
.img-container{
    height: 100px;
    width: 100%; 
}
.just-div{
    width: 290px;
    height: 270px;
    background-image: linear-gradient(to right bottom,blue 30%, rgb(39, 180, 180) 20%);
    border-radius: 60px;
    transform: rotate(-10deg);
    overflow: visible;
}
.box-img{
    width: 440px;
    height: 390px;
    border-radius: 60px;
    border: none;
    object-fit: contain;
    object-position: top;
    position: relative;
    top: -350px;
    right: 110px;

}
/* BASE CONTENT */
.footer{
    height: 100%;
    background-color: rgba(129, 129, 129, );
}
.base-contents-div{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    gap: 2px;
}
.for-aspiring{
    color: rgba(158, 156, 156, 0.973);
    font-size: 12px;
}
.online-community{
    color: rgb(52, 223, 166);
}
.a-project-based{
    font-size: 16px;
    font-weight: bold;
    text-decoration: solid;
}

/* MEDIA QUERIES */
@media (max-width: 1249px) and (min-width: 1093px){
    .vertical-line-container{
        margin-left: 0px;
        gap: 60px;
    }
    .background{
        padding-left: 30px;
        grid-template-columns: 750px 300px;
    }
    .box-img{
        width: 100%;
        right: 50px;
    }
    .just-div{
        width: 90%;
        right: 800px;
    }
}

@media (max-width: 1092px){
    .vertical-line-container{
        margin-left: 0px;
        gap: 60px;
    }
   .learn-web{
        width: 600px;
        font-size: 40px;
        line-height: 55px;
   }
   .img-container{
        width: 50%;
   }
   .just-div{
        width: 220px;
        height: 200px;
        position: relative;
        right: 50px;
        top: 30px;
   }
   .box-img{
        width: 350px;
        height: 320px;
        top: -250px;
        right: 140px;
   }
   .learn-web-digital{
        width: 700px;
        font-size: 13px;
   }
   .opportunities{
        width: 700px;
        font-size: 13px;
   }
}
@media (max-width: 1049px){ 
    .just-div{
        width: 220px;
        height: 200px;
        position: relative;
        right: 125px;
        top: 30px;
   }
   .box-img{
        width: 350px;
        height: 320px;
        top: -250px;
        right: 215px;
   }
   .img-container{
    width: 20%;
   }
}
@media (max-width: 986px){ 
    .just-div{
        width: 310%;
        height: 220%;
        position: relative;
        right: 180px;
        top: 40px;
   }
   .box-img{
        width: 260%;
        height: 450%;
        top: -270px;
        right: 185px;
   }
   .img-container{
    width: 20%;
   }
}
@media (max-width: 943px){ 
    .learn-web{
        width: 450px;
        font-size: 30px;
        line-height: 38px;
   }
    .learn-web-digital{
        width: 400px;
        font-size: 11px;
        margin-top: 30px;
   }
   .opportunities{
        width: 400px;
        font-size: 11px;
        color: rgb(143, 141, 141);
        margin-top: 23px;
    }
    .button-div{
        margin-top: 35px;
    }
    .img-container{
        width: 20%;
    }
    .just-div{
        width: 310%;
        height: 220%;
        position: relative;
        right: 250px;
        top: 30px;
   }
   .box-img{
        width: 260%;
        height: 450%;
        top: -280px;
        right: 255px;
   }
}
@media (max-width: 889px){
    .background{
        grid-template-columns: 800px 400px; 
    }
    .learn-web-div-texts{
        grid-template-rows: 0.5fr 0.5fr;
        width: 50%;
    }
    .the-grid-texts{
        width: 50%;
    }
    .img-container{
        width: 18%;
        position: relative;
       
    }
    .just-div{
        right: 290px;
    }
    .box-img{
        right: 295px;
        top: -250px;
    }
}
@media (max-width: 806px){
    .img-container{
        width: 17%;
        height: 22%;
        position: relative;
        top: 20px;
        right: 50px;

    }
    .box-img{
        right: 295px;
        top: -240px;
    }
}
@media (max-width: 741px){
    .remote-image{
        left: 15px;
        top: 5px;
    }
    .remote-text{
        left: 15px;
    }
    .blogs-and-resources{
        right: 15px;
    }
    .nav-icons{
        gap: 20px;
        margin-right: 70px;
    }
    .background{
        padding-left: 20px;
    }
}
@media (max-width: 708px){
    .learn-web{
        grid-template-rows: 0.1fr 0.5fr;
        width: 280px;
        font-size: 20px;
        line-height: 35px;
    }
    .learn-web-digital, .opportunities{
        width: 320px;
        font-size: 9px;
        margin-top: 25px;
    }
    .button-div{
        margin-top: 35px;
        grid-template-columns: 100px 100px;
    } 
    .explore-course{
        font-size: 8px;
    }
    .free-resources{
        font-size: 8px;
    }
    .img-container{
        width: 15%;
        height: 22%;
        position: relative;
        top: 20px;
        right: 120px;

    }
    .just-div{
        position: relative;
        right: 250px;
        top: 10px;
    }
   .box-img{
        top: -230px;
        right: 255px;
    }
   .vertical-line-container{
    margin-left: 0px;
    gap: 40px;
    }
}
@media (max-width: 654px){
    .img-container{
        right: 150px;
    }
    .remote-image{
        left: 15px;
        top: 5px;
    }
    .remote-text{
        left: 15px;
    }
    .blogs-and-resources{
        right: 30px;
    }
    .nav-icons{
        gap: 15px;
        margin-right: 75px;
    }
    
}
@media (max-width: 624px){
    .img-container{
        right: 190px;
        
    }
}
@media (max-width: 584px){
    .learn-web{
        grid-template-rows: 0.1fr 0.5fr;
        width: 230px;
        font-size: 16px;
        line-height: 30px;
    }
    .learn-web-digital, .opportunities{
        width: 300px;
        font-size: 7px;
        margin-top: 25px;
    }
    .button-div{
        margin-top: 35px;
        grid-template-columns: 100px 100px;
    } 
    .explore-course{
        font-size: 8px;
    }
    .free-resources{
        font-size: 8px;
    }
    .img-container{
        width: 14%;
        height: 19%;
        position: relative;
        top: 20px;
        right: 205px;

    }
    .just-div{
        position: relative;
        right: 250px;
        top: 10px;
    }
   .box-img{
        top: -200px;
        right: 255px;
    }
    .remote-image{
        left: 15px;
        top: 5px;
    }
    .remote-text{
        left: 15px;
        font-size: 10px;
    }
    .blogs-and-resources{
        right: 30px;
        display: none;
    }
    .nav-icons{
        gap: 15px;
        margin-right: 75px;
        font-size: 10px;
        display: none;
    }
    .menu{
        display: grid;
        position: relative;
        top: -2px;
        gap: 6px;
    }
    .menu-line{
        width: 20px;
        height: 2px;
        font-style: solid;
        color: white;
        background-color: white;
        margin-right: -1000px;
        position: relative;
        right: -40px;
        
    }
}
@media (max-width: 555px){
    .img-container{
        width: 14%;
        height: 19%;
        position: relative;
        top: 20px;
        right: 240px;

    }
}
@media (max-width: 523px){
    .img-container{
        width: 14%;
        height: 19%;
        position: relative;
        top: 20px;
        right: 260px;

    }
}
@media (max-width: 499px){
    .img-container{
        width: 14%;
        height: 19%;
        position: relative;
        top: 20px;
        right: 280px;

    }
}
@media (max-width: 478px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 250px;

    }
    .just-div{
        width: 120px;
        height: 120px;
        right: 260px;
    }
    .box-img{
        top: -140px;
        right: 362px;
        width: 300px;
        height: 155px;
    }
    .learn-web{
        grid-template-rows: 0.1fr 0.5fr;
        width: 150px;
        font-size: 10px;
        line-height: 20px;
    }
    .learn-web-digital, .opportunities{
        width: 200px;
        font-size: 5px;
        margin-top: 18px;
    }
    .button-div{
        margin-top: 30px;
        grid-template-columns: 70px 70px;
        
    } 
    .explore-course{
        font-size: 5px;
        padding: 5px;
        padding-left: 15.5px;
    }
    .free-resources{
        font-size: 5px;
        padding: 5px;
        padding-left: 15.5px;
    }
    .vertical-line-container{
        margin-left: 0px;
        gap: 20px;
    }
}
@media (max-width: 442px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 290px;

    }
}
@media (max-width: 398px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 320px;

    }
}
@media (max-width: 368px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 340px;

    }
}
@media (max-width: 333px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 355px;

    }
}
@media (max-width: 348px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 380px;

    }
    .learn-web{
        grid-template-rows: 0.1fr 0.5fr;
        width: 100px;
        font-size: 7px;
        line-height: 20px;
    }
    .learn-web-digital, .opportunities{
        width: 120px;
        font-size: 3px;
        margin-top: 18px;
    }
    .button-div{
        margin-top: 30px;
        grid-template-columns: 38px 38px;
        
    } 
    .explore-course{
        font-size: 2px;
        padding: 3px;
        padding-left: 11px;
    }
    .free-resources{
        font-size: 2px;
        padding: 3px;
        padding-left: 11px;
    }
}
@media (max-width: 307px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 400px;

    }
}
@media (max-width: 291px){
    .img-container{
        width: 12%;
        height: 14%;
        position: relative;
        top: 4px;
        right: 410px;

    }
}